<a href="https://colab.research.google.com/github/Parinitha-M-Samaga/Data_Mining_Sem5/blob/main/Terrorism_prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/terrorismData.csv")

In [ ]:
df['Killed'].fillna(df['Killed'].mean(), inplace=True)
df['Wounded'].fillna(df['Wounded'].mean(),inplace=True)

df['Wounded'].fillna(df['Wounded'].mean(),inplace=True)
df['Group'].fillna('Unknown',inplace=True)
df['Country'].fillna('Iraq',inplace=True)

In [ ]:
df=df.drop(df[df['Group']=="Unknown"].index)
Train,Test=train_test_split(df,train_size=0.3,stratify=df['AttackType'], random_state=42)
Train
df=Train

In [ ]:


# Define a function to replace outliers with the median
def replace_outliers(df, category_col, value_col, threshold=1.5):
    result_df = df.copy()

    # Group by the category column
    grouped = df.groupby(category_col)

    # Define a function to replace outliers with the median for each group
    def replace_outliers_group(group):
        q1 = group[value_col].quantile(0.25)
        q3 = group[value_col].quantile(0.75)
        iqr = q3 - q1
        lower_bound = q1 - threshold * iqr
        upper_bound = q3 + threshold * iqr
        group[value_col] = np.where((group[value_col] < lower_bound) | (group[value_col] > upper_bound),
                                    group[value_col].median(), group[value_col])
        return group

    # Apply the function to each group
    result_df = grouped.apply(replace_outliers_group)

    return result_df

# Replace outliers with the median category-wise
result_df = replace_outliers(df, 'Weapon_type', 'Killed')
df=result_df
# Display the result
print(result_df)

        Year  Month  Day         Country             State  \
68941   1999      6    2          Turkey          Istanbul
3314    1975     10    8          France             Paris
36878   1989      1   14  United Kingdom  Northern Ireland
31412   1987      6   28  United Kingdom             Wales
1835    1973      4   11  United Kingdom  Northern Ireland
...      ...    ...  ...             ...               ...
148763  2015      5   30            Iraq            Diyala
118591  2013      7    1           Syria             Hamah
127495  2014      2   18            Iraq             Babil
150892  2015      7   21         Somalia              Gedo
37541   1989      3    8         Lebanon            Beirut

                            Region         City   Latitude  Longitude  \
68941   Middle East & North Africa     Istanbul  41.106178  28.689863
3314                Western Europe        Paris  48.856644   2.342330
36878               Western Europe  Londonderry  55.011562  -7.312045
31412               Western Europe     Abergele  53.286192  -3.582769
1835                Western Europe        Derry  55.011562  -7.312045
...                            ...          ...        ...        ...
148763  Middle East & North Africa      Unknown  33.773348  45.149450
118591  Middle East & North Africa     Sabboura  35.151470  37.220161
127495  Middle East & North Africa      Mahawil  32.654751  44.408989
150892          Sub-Saharan Africa      Bardere   2.349308  42.280334
37541   Middle East & North Africa       Beirut  33.888523  35.503513

                         AttackType    Killed    Wounded  \
68941             Bombing/Explosion  0.000000   2.000000
3314                  Assassination  0.000000   1.000000
36878             Bombing/Explosion  0.000000   1.000000
31412             Bombing/Explosion  0.000000   0.000000
1835                  Assassination  1.000000   3.167668
...                             ...       ...        ...
148763  Hostage Taking (Kidnapping)  2.403272   3.167668
118591            Bombing/Explosion  4.000000  18.000000
127495            Bombing/Explosion  1.000000   5.000000
150892                Armed Assault  0.000000  37.000000
37541             Bombing/Explosion  0.000000   0.000000

                                     Target  \
68941     Masal Evi bar in Kadikoy District
3314    unk, Asst Military Attache, Embassy
36878                unit on Butcher street
31412                        housing estate
1835                            Keith Evans
...                                     ...
148763                             Children
118591                      Cultural Center
127495                            Civilians
150892                             Soldiers
37541     Syrian Patrol near Paradise Hotel

                                                  Summary  \
68941   06/02/1999: Two unidentified assailants hurled...
3314                                                  NaN
36878                                                 NaN
31412                                                 NaN
1835                                                  NaN
...                                                   ...
148763  05/00/2015: At some time between May 22 and Ma...
118591  07/01/2013: A suicide bomber detonated an expl...
127495  02/18/2014: An explosives-laden vehicle detona...
150892  07/21/2015: Assailants attacked military force...
37541                                                 NaN

                                              Group  \
68941                             Muslim extremists
3314             Armed Nucleus for Popular Autonomy
36878                   Irish Republican Army (IRA)
31412                              Welsh Extremists
1835                    Irish Republican Army (IRA)
...                                             ...
148763  Islamic State of Iraq and the Levant (ISIL)
118591  Islamic State of Iraq and the Levant (ISIL)
127495  Islamic State of Iraq and the Levant (ISIL)
150892                                   Al-Shabaab
37541                  Shaykh Subhi Al-Salih Forces

                        Target_type Weapon_type
68941                      Business  Explosives
3314        Government (Diplomatic)    Firearms
36878                      Military  Explosives
31412                      Business  Explosives
1835                       Military    Firearms
...                             ...         ...
148763  Private Citizens & Property     Unknown
118591  Private Citizens & Property  Explosives
127495  Private Citizens & Property  Explosives
150892                     Military  Explosives
37541                      Military  Explosives

[19781 rows x 17 columns]

<ipython-input-137-40cb301fcd7f>:20: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  result_df = grouped.apply(replace_outliers_group)

In [ ]:
def replace_outliers(df, category_col, value_col, threshold=1.5):
    result_df = df.copy()

    # Group by the category column
    grouped = df.groupby(category_col)

    # Define a function to replace outliers with the median for each group
    def replace_outliers_group(group):
        q1 = group[value_col].quantile(0.25)
        q3 = group[value_col].quantile(0.75)
        iqr = q3 - q1
        lower_bound = q1 - threshold * iqr
        upper_bound = q3 + threshold * iqr
        group[value_col] = np.where((group[value_col] < lower_bound) | (group[value_col] > upper_bound),
                                    group[value_col].median(), group[value_col])
        return group

    # Apply the function to each group
    result_df = grouped.apply(replace_outliers_group)

    return result_df

# Replace outliers with the median category-wise
result_df = replace_outliers(df, 'Weapon_type', 'Wounded')
df=result_df
# Display the result
print(result_df)

        Year  Month  Day         Country             State  \
68941   1999      6    2          Turkey          Istanbul
3314    1975     10    8          France             Paris
36878   1989      1   14  United Kingdom  Northern Ireland
31412   1987      6   28  United Kingdom             Wales
1835    1973      4   11  United Kingdom  Northern Ireland
...      ...    ...  ...             ...               ...
148763  2015      5   30            Iraq            Diyala
118591  2013      7    1           Syria             Hamah
127495  2014      2   18            Iraq             Babil
150892  2015      7   21         Somalia              Gedo
37541   1989      3    8         Lebanon            Beirut

                            Region         City   Latitude  Longitude  \
68941   Middle East & North Africa     Istanbul  41.106178  28.689863
3314                Western Europe        Paris  48.856644   2.342330
36878               Western Europe  Londonderry  55.011562  -7.312045
31412               Western Europe     Abergele  53.286192  -3.582769
1835                Western Europe        Derry  55.011562  -7.312045
...                            ...          ...        ...        ...
148763  Middle East & North Africa      Unknown  33.773348  45.149450
118591  Middle East & North Africa     Sabboura  35.151470  37.220161
127495  Middle East & North Africa      Mahawil  32.654751  44.408989
150892          Sub-Saharan Africa      Bardere   2.349308  42.280334
37541   Middle East & North Africa       Beirut  33.888523  35.503513

                         AttackType    Killed   Wounded  \
68941             Bombing/Explosion  0.000000  2.000000
3314                  Assassination  0.000000  1.000000
36878             Bombing/Explosion  0.000000  1.000000
31412             Bombing/Explosion  0.000000  0.000000
1835                  Assassination  1.000000  3.167668
...                             ...       ...       ...
148763  Hostage Taking (Kidnapping)  2.403272  3.167668
118591            Bombing/Explosion  4.000000  0.000000
127495            Bombing/Explosion  1.000000  5.000000
150892                Armed Assault  0.000000  0.000000
37541             Bombing/Explosion  0.000000  0.000000

                                     Target  \
68941     Masal Evi bar in Kadikoy District
3314    unk, Asst Military Attache, Embassy
36878                unit on Butcher street
31412                        housing estate
1835                            Keith Evans
...                                     ...
148763                             Children
118591                      Cultural Center
127495                            Civilians
150892                             Soldiers
37541     Syrian Patrol near Paradise Hotel

                                                  Summary  \
68941   06/02/1999: Two unidentified assailants hurled...
3314                                                  NaN
36878                                                 NaN
31412                                                 NaN
1835                                                  NaN
...                                                   ...
148763  05/00/2015: At some time between May 22 and Ma...
118591  07/01/2013: A suicide bomber detonated an expl...
127495  02/18/2014: An explosives-laden vehicle detona...
150892  07/21/2015: Assailants attacked military force...
37541                                                 NaN

                                              Group  \
68941                             Muslim extremists
3314             Armed Nucleus for Popular Autonomy
36878                   Irish Republican Army (IRA)
31412                              Welsh Extremists
1835                    Irish Republican Army (IRA)
...                                             ...
148763  Islamic State of Iraq and the Levant (ISIL)
118591  Islamic State of Iraq and the Levant (ISIL)
127495  Islamic State of Iraq and the Levant (ISIL)
150892                                   Al-Shabaab
37541                  Shaykh Subhi Al-Salih Forces

                        Target_type Weapon_type
68941                      Business  Explosives
3314        Government (Diplomatic)    Firearms
36878                      Military  Explosives
31412                      Business  Explosives
1835                       Military    Firearms
...                             ...         ...
148763  Private Citizens & Property     Unknown
118591  Private Citizens & Property  Explosives
127495  Private Citizens & Property  Explosives
150892                     Military  Explosives
37541                      Military  Explosives

[19781 rows x 17 columns]

<ipython-input-138-88e9512fbddd>:19: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  result_df = grouped.apply(replace_outliers_group)

In [ ]:
df=result_df

In [ ]:
cc=df['Group'].value_counts()
df['Group']=df['Group'].map(cc)

In [ ]:
#manual
df['AttackType'] = df['AttackType'].map(
                   {'Bombing/Explosion':1 ,'Assassination':2,'Unarmed Assault':3,'Armed Assault':4,'Facility/Infrastructure Attack':5,'Hostage Taking (Kidnapping)':6,'Hijacking':7, 'Unknown':8,'Hostage Taking (Barricade Incident)':9})

In [ ]:
X=df[['Killed','Wounded','Target_type','Weapon_type','Country','Year','Group']]
Y=df['AttackType']

In [ ]:
X = pd.get_dummies(X, columns = ['Target_type', 'Weapon_type','Country'])

In [ ]:
X

,Killed,Wounded,Year,Group,Target_type_Abortion Related,Target_type_Airports & Aircraft,Target_type_Business,Target_type_Educational Institution,Target_type_Food or Water Supply,Target_type_Government (Diplomatic),...,Country_Uruguay,Country_Venezuela,Country_Vietnam,Country_West Bank and Gaza Strip,Country_West Germany (FRG),Country_Yemen,Country_Yugoslavia,Country_Zaire,Country_Zambia,Country_Zimbabwe
68941,0.000000,2.000000,1999,139,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3314,0.000000,1.000000,1975,2,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
36878,0.000000,1.000000,1989,534,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
31412,0.000000,0.000000,1987,3,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1835,1.000000,3.167668,1973,534,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148763,2.403272,3.167668,2015,1096,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
118591,4.000000,0.000000,2013,1096,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
127495,1.000000,5.000000,2014,1096,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
150892,0.000000,0.000000,2015,660,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37541,0.000000,0.000000,1989,7,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
scaler=StandardScaler()
X=scaler.fit_transform(X)
X.shape

(29672, 203)

In [ ]:
df['AttackType'].unique()

array([1, 2, 4, 6, 5, 8, 9, 3, 7])

In [ ]:
X.shape

(19781, 191)

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [ ]:
svm_model = SVC()
svm_model.fit(X_train, Y_train)
svm_predictions = svm_model.predict(X_test)
svm_accuracy = accuracy_score(Y_test, svm_predictions)
print("SVM Accuracy:", svm_accuracy)

SVM Accuracy: 0.7687642153146323

In [ ]:
dt_model = DecisionTreeClassifier()
dt_model.fit(X_train, Y_train)
dt_predictions = dt_model.predict(X_test)
dt_accuracy = accuracy_score(Y_test, dt_predictions)
print("Decision Tree Accuracy:", dt_accuracy)

Decision Tree Accuracy: 0.785172704296546

In [ ]:
#With sampling
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=700, random_state=42)
clf.fit(X_train,Y_train)
y_pred = clf.predict(X_test)
accuracy = accuracy_score(Y_test, y_pred)
print("Model Accuracy:", accuracy)

Model Accuracy: 0.8210614995787701

In [ ]:
from sklearn.model_selection import GridSearchCV

# Define the parameter grid
param_grid = {
    'n_estimators': [700],
    'max_depth': [30],
    'min_samples_split': [5],
    'min_samples_leaf': [1]
}

# Perform GridSearchCV
grid_search = GridSearchCV(RandomForestClassifier(random_state=42), param_grid, cv=5)
grid_search.fit(X_train, Y_train)

# Get the best parameters
best_params = grid_search.best_params_

# Print the best parameters
print("Best Parameters:", best_params)

# Use the best model
best_model = grid_search.best_estimator_

Best Parameters: {'max_depth': 30, 'min_samples_leaf': 1, 'min_samples_split': 5, 'n_estimators': 700}

In [ ]:
y_pred = best_model.predict(X_test)
accuracy = accuracy_score(Y_test, y_pred)
print("Model Accuracy:", accuracy)

Model Accuracy: 0.8308340353833193

In [ ]:

from sklearn.svm import SVC
from sklearn.multiclass import OneVsOneClassifier, OneVsRestClassifier
from sklearn.metrics import accuracy_score




# OvO
ovo_classifier = OneVsOneClassifier(clf)
ovo_classifier.fit(X_train, Y_train)
ovo_predictions = ovo_classifier.predict(X_test)
ovo_accuracy = accuracy_score(Y_test, ovo_predictions)
print("OvO Accuracy:", ovo_accuracy)

# OvA
ova_classifier = OneVsRestClassifier(clf)
ova_classifier.fit(X_train, Y_train)
ova_predictions = ova_classifier.predict(X_test)
ova_accuracy = accuracy_score(Y_test, ova_predictions)
print("OvA Accuracy:", ova_accuracy)

OvO Accuracy: 0.8242628475147431
OvA Accuracy: 0.8235888795282225